<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="true"
	bootstrap="loader.php">
	<testsuites>
		<testsuite name="AeFramework Test Suite">
			<directory suffix=".php">./test</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./vendor/lib</directory>
		</whitelist>
	</filter>
</phpunit>