{% if column.type in ['text'] %}
	<textarea name="row[{{ column.name }}]" cols="100" rows="12">{{ row[column.name] }}</textarea>
{% elseif column.type in ['boolean'] %}
	<input type="checkbox" name="row[{{ column.name }}]" {% if row[column.name] %}checked="checked"{% endif %}/>
{% elseif column.type in ['date'] %}
	<input type="date" name="row[{{ column.name }}]" value="{% if row[column.name] %}{{ row[column.name] }}{% else %}{{ now|date("Y-m-d") }}{% endif %}"/>
{% else %}
	<input type="text" name="row[{{ column.name }}]" value="{{ row[column.name] }}" size="50" maxlength="{{ column.length }}"/>
{% endif %}