<p><a href="../../">&laquo; Back to {{ table.getName|format_dbname }} list</a></p>
{% for column in columns %}
	<div class="column_edit {{ column.getType.getName }}">
		<label><span>{{ column.getName|format_dbname }}:</span>
			{% if column.getType.getName in ['text'] %}
				<textarea name="{{ column.getName }}" cols="100" rows="12">{{ row[column.getName] }}</textarea>
			{% elseif column.getType.getName in ['boolean'] %}
				<input type="checkbox" name="{{ column.getName }}" {% if row[column.getName] %}checked="checked"{% endif %}/>
			{% else %}
				<input type="text" name="{{ column.getName }}" value="{{ row[column.getName] }}" size="40" maxlength="{{ column.getLength }}"/>
			{% endif %}
		</label>
	</div>
{% endfor %}