{% for column in table.columns if not column.isAutoIncrement %}
	<div class="column_edit {{ column.type }}">
		<label><span>{{ column }}:</span>
			{% include "column_entry.html" %}
		</label>
	</div>
{% endfor %}
{% for link in links %}
	<div class="column_edit">
		<label><span>Linked {{ link.info.remoteTable }} List: (<a href="../../../../{{ link.info.remoteTable.name }}/create/">Create {{ link.info.remoteTable }}</a>)</span>
			<select style="height:150px" multiple="multiple" name="link[{{ link.info.table.name }}][]">
				{% for row in link.all %}
					<option value="{{ row.id }}" {% if row.id in link.selected %}selected="selected"{% endif %}>
						{% for column in link.info.remoteTable.columns if not column.isAutoIncrement %}
							{% if not loop.first %}&bull;{% endif %}
							{{ column }}: {% include "column_view.html" %}
						{% endfor %}
					</option>
				{% endfor %}
			</select>
		</label>
	</div>
{% endfor %}