{% extends "base.html" %}

{% block body %}
	<h1>{{ table.getName|format_dbname }} Objects</h1>
	<p><a href="../">&laquo; Back to object list</a></p>
	<table>
		<thead>
			<tr>
				{% for column in columns %}
					<th>{{ column|format_dbname }}</th>
				{% endfor %}
			</tr>
		</thead>
		{% for row in rows %}
			<tbody>
				<tr>
					{% for column in columns %}
						{% if column in primary %}
							<td><a href="./edit/{{ row[column] }}/">{{ row[column] }}</a></td>
						{% else %}
							<td>{{ row[column][:64] }}</td>
						{% endif %}
					{% endfor %}
				</tr>
			</tbody>
		{% endfor %}
	</table>
{% endblock %}