{% extends "base.html" %}

{% block title %}Delete {{ table }}{% endblock %}

{% block body %}
	<h2>Delete {{ table }}</h2>
	<p><a href="../../..">&laquo; Back to {{ table }} list</a></p>
	<table>
		<tbody>
			{% for column in table.columns if not column.isAutoIncrement and not column.isForeign %}
				<tr>
					<th>{{ column }}</th>
					<td>{{ model.column_show('../../..', column, row, table.columns) }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<form action="." method="post"><p><button type="submit">Delete</button></p></form>
{% endblock %}