{% extends "base.html" %}

{% block title %}Delete {{ table }}{% endblock %}

{% block body %}
	<h1>Delete {{ table }}</h1>
	<table>
		<tbody>
			{% for column in table.columns if not column.isAutoIncrement %}
				<tr>
					<th>{{ column }}</th>
					<td>{{ model.column_show(column, row[column.name], true) }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<p><form action="." method="post"><button>Delete</button></form> <form action="../../.." method="get"><button>Cancel</button></form></p>
{% endblock %}