{% extends "base.html" %}

{% block title %}{{ folder }} List{% endblock %}

{% block body %}
	<h2>{{ folder }} List</h2>
	<p><a href="../..">&laquo; Back</a> | <a href="./create/">Create Folder</a> | <a href="./upload/">Upload File</a></p>
	<table class="full">
		<thead>
			<tr>
				<th>Name</th>
				<th>Contents</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% if folder.parent.writable %}
				<tr>
					<td>&larr; <a href="./..">Back to {{ folder.parent }}</a></td>
				</tr>
			{% endif %}
			{% for child in folder.folders %}
				<tr>
					<td><a href="./{{ child.name }}/">{{ child }}</a></td>
					<td>{{ child.items|number_format }} item{{ child.items > 0 ? 's' }}</td>
					<td><a href="./{{ child.name }}/">Delete</a></td>
				</tr>
			{% endfor %}
			{% for child in folder.files %}
				<tr>
					<td><a href="./{{ child.name }}">{{ child }}</a></td>
					<td>{{ model.bytes_to_string(child.size) }}</td>
					<td><a href="./delete/{{ child.name }}/">Delete</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}