{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block body %}
	<h2>Admin</h2>
	<p>List of models available for editing.</p>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Items</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for table_info in tables if not table_info.table.isLink %}
				<tr>
					<td><a href="{{ table_info.table.name }}/">{{ table_info.table }} List</a></td>
					<td>{{ table_info.rows|number_format }}</td>
					<td><a href="{{ table_info.table.name }}/create/">Create</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<h2>Folders</h2>
	<p>List of folders available for editing.</p>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Items</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for directory in directories %}
				<tr>
					<td><a href="{{ directory.name }}/">{{ directory.name }}</a></td>
					<td>{{ directory.items }}</td>
					<td><a href="{{ directory.name }}/create/">Create</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}