{% import _self as macros %}
{% macro filtering(column, direction, limit, start) %}?order={{ column }}&amp;direction={{ direction }}&amp;limit={{ limit }}&amp;start={{ start }}{% endmacro %}

{% extends "base.html" %}

{% block title %}{{ table }} List{% endblock %}

{% block body %}
	<h2>{{ table }} List</h2>
	<p><a href="../..">&laquo; Back to Models</a> | <a href="./create/">Create {{ table }}</a></p>
	<table class="full">
		<thead>
			<tr>
				{% for column in table.columns %}
					<th>
						{% if column.isPrimary %}
							<a href=".">{{ table }}</a>
						{% else %}
							{% if direction in 'desc' %}
								{% set opposite_direction = 'asc' %}
							{% else %}
								{% set opposite_direction = 'desc' %}
							{% endif %}
							<a href="{{ macros.filtering(column.name, opposite_direction, limit, start) }}">
								{{ column }} {% if order == column.name %}
									{% if direction in 'desc' %}
										&#x2193;
									{% else %}
										&#x2191;
									{% endif %}
								{% endif %}</a>
						{% endif %}
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					{% for column in table.columns %}
						<td>{{ model.column_show('.', column, row, table.columns, table.columns) }}</td>
					{% endfor %}
				</tr>
			{% else %}
				<tr><td colspan="{{ table.columns|length }}">No data found.</td></tr>
			{% endfor %}
		<tbody>
		<thead>
			<tr>
				<th colspan="{{ table.columns|length }}">
					{{ rows|length }} {{ table }} Items
					|
					Show: <a href="{{ macros.filtering(order, direction, 20, start) }}">20</a>,
					<a href="{{ macros.filtering(order, direction, 50, start) }}">50</a>,
					<a href="{{ macros.filtering(order, direction, 100, start) }}">100</a>,
					<a href="{{ macros.filtering(order, direction, 500, start) }}">500</a>
					|
					{% if start != 0 %}
					<a href="{{ macros.filtering(order, direction, limit, (start - limit)) }}">&laquo; Page {{ ((start - limit) / limit) + 1 }}</a>
					&bull;
					{% endif %}
					Page {{ (start / limit) + 1 }}
					{% if rows|length >= limit %}
					&bull;
					<a href="{{ macros.filtering(order, direction, limit, (start + limit)) }}">Page {{ ((start + limit) / limit) + 1 }} &raquo;</a>
					{% endif %}
				</th>
			</tr>
		</thead>
	</table>
{% endblock %}