{% import _self as macros %}
{% macro filtering(column, direction, limit, start) %}?order={{ column }}&amp;direction={{ direction }}&amp;limit={{ limit }}&amp;start={{ start }}{% endmacro %}

{% extends "base.html" %}

{% block title %}{{ table }} List{% endblock %}

{% block body %}
	<h1>{{ table }} List</h1>
	<p><a href="../">&laquo; Back to Models</a> | <a href="./create/">Create {{ table }}</a></p>
	<table>
		<thead>
			<tr>
				{% for column in table.columns %}
					<th>
						{% if column.isPrimary %}
							<a href=".">{{ table }}</a>
						{% else %}
							{% if direction in 'desc' %}
								{% set opposite_direction = 'asc' %}
							{% else %}
								{% set opposite_direction = 'desc' %}
							{% endif %}
							<a href="{{ macros.filtering(column.name, opposite_direction, limit, start) }}">
								{{ column }} {% if order == column.name %}
									{% if direction in 'desc' %}
										&#x2193;
									{% else %}
										&#x2191;
									{% endif %}
								{% endif %}</a>
						{% endif %}
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					{% for column in table.columns %}
						<td>
							{% if column.isPrimary %}
								{% set primary_key = column.name %}
								{% set primary_value = row[column.name] %}
								<a href="./edit/{{ column.name }}/{{ row[column.name] }}/">Edit</a> &bull; <a href="./delete/{{ column.name }}/{{ row[column.name] }}/">Delete</a>
							{% elseif column.isForeign %}
								{% if row[column.name] %}
									<a href="../{{ column.foreignTable }}/edit/{{ column.foreignColumn }}/{{ row[column.name] }}/">View &raquo;</a>
								{% else %}
									<span class="gray">None</span>
								{% endif %}
							{% elseif column.type == 'blob' %}
								<a href="../{{ table.name }}/blob/{{ primary_key }}/{{ primary_value }}/{{ column.name }}/">View &raquo;</a>
							{% else %}
								{{ model.column_show(column, row[column.name], true) }}
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% else %}
				<tr><td colspan="{{ table.columns|length }}">No data found.</td></tr>
			{% endfor %}
		<tbody>
		<thead>
			<tr>
				<th colspan="{{ table.columns|length }}">
					{{ rows|length }} {{ table }} Items
					|
					Show: <a href="{{ macros.filtering(order, direction, 20, start) }}">20</a>,
					<a href="{{ macros.filtering(order, direction, 50, start) }}">50</a>,
					<a href="{{ macros.filtering(order, direction, 100, start) }}">100</a>,
					<a href="{{ macros.filtering(order, direction, 500, start) }}">500</a>
					|
					{% if start != 0 %}
					<a href="{{ macros.filtering(order, direction, limit, (start - limit)) }}">&laquo; Page {{ ((start - limit) / limit) + 1 }}</a>
					&bull;
					{% endif %}
					Page {{ (start / limit) + 1 }}
					{% if rows|length >= limit %}
					&bull;
					<a href="{{ macros.filtering(order, direction, limit, (start + limit)) }}">Page {{ ((start + limit) / limit) + 1 }} &raquo;</a>
					{% endif %}
				</th>
			</tr>
		</thead>
	</table>
{% endblock %}