{% macro column_input(column, value) %}
	{% if column.isNotNull %}{% set req = 'required' %}{% endif %} 
	{% if column.isForeign %}
		<select {{ req }} name="row[{{ column.name }}]">
			{% if not column.isNotNull %}
				<option value="">None</option>
			{% endif %}
			{{ _self.linked_options(value) }}
		</select>
	{% elseif column.type in ['text'] %}
		<textarea {{ req }} name="row[{{ column.name }}]" cols="100" rows="30">{{ value }}</textarea>
	{% elseif column.type in ['boolean'] %}
		<input type="checkbox" name="row[{{ column.name }}]" {% if value %}checked="checked"{% endif %}/>
	{% elseif column.type in ['date'] %}
		<input {{ req }} type="date" name="row[{{ column.name }}]" value="{% if value %}{{ value }}{% else %}{{ now|date("Y-m-d") }}{% endif %}"/>
	{% elseif column.type in ['blob'] %}
		<input type="hidden" name="max_file_size" value="{{ column.length }}" />
		<input {{ req }} type="file" name="row[{{ column.name }}]"/>
	{% else %}
		<input {{ req }} type="text" name="row[{{ column.name }}]" value="{{ value }}" size="50" {% if column.length %}maxlength="{{ column.length }}"{% endif %}/>
	{% endif %}
{% endmacro %}

{% macro linked_options(link) %}
	{% for row in link.all %}
		<option value="{{ row[link.info.localColumn] }}" {% if row[link.info.localColumn] in link.selected %}selected="selected"{% endif %}>
			{% for column in link.info.remoteTable.columns if not column.isAutoIncrement and not column.isForeign %}
				{% if row[column.name] %}
					{{ column }}: {{ _self.column_show_plain(column, row[column.name]) }}
				{% endif %}
			{% endfor %}
		</option>
	{% endfor %}
{% endmacro %}

{% macro column_show_plain(column, value) %}
	{% if column.type in ['boolean'] %}
		&#x{% if value %}2713{% else %}2717{% endif %};
	{% elseif column.type in ['datetime', 'datetimez'] %}
		{{ value|date("M jS Y \\a\\t g:ia") }}
	{% elseif column.type in ['date'] %}
		{{ value|date("M jS Y") }}
	{% elseif column.type in ['decimal', 'float', 'integer', 'smallint', 'bigint'] %}
		{{ value|number_format }}
	{% elseif column.type in ['time'] %}
		{{ value|date("g:ia") }}
	{% elseif column.type in ['text', 'string'] %}
		{% set stripped_value = value|striptags %}
		{% if stripped_value %}
			{% if stripped_value|length > 32 %}
				{{ stripped_value[:32] }}...
			{% else %}
				{{ stripped_value }}
			{% endif %}
		{% else %}
			{% if value|length > 32 %}
				{{ value[:32] }}...
			{% else %}
				{{ value }}
			{% endif %}
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro column_show(path, column, row, all_columns) %}
	{% set value = row[column.name] %}
	{% if column.isPrimary %}
		<a href="./edit/{{ column.name }}/{{ value }}/">Edit</a> | <a href="./delete/{{ column.name }}/{{ value }}/">Delete</a>
	{% elseif column.isForeign %}
		{% if value %}
			<a href="../{{ column.foreignTable }}/edit/{{ column.foreignColumn }}/{{ value }}/">View</a>
		{% else %}
			<span class="gray">None</span>
		{% endif %}
	{% else %}
		{% if value == '' %}
			<span class="gray">Empty</span>
		{% else %}
			{% if column.type in ['boolean'] %}
				<b style="color:{% if value %}green{% else %}crimson{% endif %}">{{ _self.column_show_plain(column, value) }}</b>
			{% elseif column.type in ['blob'] %}
				{% for c in all_columns if c.isPrimary %}
					<a target="_blank" href="{{ path }}/blob/{{ c.name }}/{{ row[c.name] }}/{{ column.name }}/">View</a>
				{% endfor %}
			{% else %}
				{{ _self.column_show_plain(column, value) }}
			{% endif %}
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro bytes_to_string(bytes) %}
	{% set sizes = ['bytes', 'kilobytes', 'megabytes', 'gigabytes', 'terrabytes', 'petabytes'] %}
	{% set factor = ((bytes|length - 1) / 3)|round(0, 'floor') %}
	{{ (bytes / (1024 ** factor))|round }} {{ sizes[factor] }}
{% endmacro %}