{% macro column_input(column, value) %}
	{% if column.isNotNull %}{% set req = 'required' %}{% endif %} 
	{% if column.isForeign %}
		<select name="row[{{ column.name }}]">{{ _self.linked_options(value) }}</select>
	{% elseif column.type in ['text'] %}
		<textarea {{ req }} name="row[{{ column.name }}]" cols="100" rows="12">{{ value }}</textarea>
	{% elseif column.type in ['boolean'] %}
		<input type="checkbox" name="row[{{ column.name }}]" {% if value %}checked="checked"{% endif %}/>
	{% elseif column.type in ['date'] %}
		<input {{ req }} type="date" name="row[{{ column.name }}]" value="{% if value %}{{ value }}{% else %}{{ now|date("Y-m-d") }}{% endif %}"/>
	{% elseif column.type in ['blob'] %}
		<input type="hidden" name="max_file_size" value="{{ column.length }}" />
		<input {{ req }} type="file" name="row[{{ column.name }}]"/>
	{% else %}
		<input {{ req }} type="text" name="row[{{ column.name }}]" value="{{ value }}" size="50" {% if column.length %}maxlength="{{ column.length }}"{% endif %}/>
	{% endif %}
{% endmacro %}

{% macro linked_options(link) %}
	{% for row in link.all %}
		<option value="{{ row[link.info.localColumn] }}" {% if row[link.info.localColumn] in link.selected %}selected="selected"{% endif %}>
			{% for column in link.info.remoteTable.columns if not column.isAutoIncrement and not column.isForeign %}
				{% if not loop.first %}&bull;{% endif %}
				{{ column }}: {{ _self.column_show(column, row[column.name]) }}
			{% endfor %}
		</option>
	{% endfor %}
{% endmacro %}

{% macro column_show(column, value, html) %}
	{% set value = value|striptags %}
	{% if column.type in ['boolean'] %}
		{% if html %}<b style="color:{% if value %}green{% else %}crimson{% endif %}">{% endif %}
			&#x{% if value %}2713{% else %}2717{% endif %};
		{% if html %}</b>{% endif %}
	{% elseif column.type in ['blob'] %}
		Binary ({{ value|length }} bytes)
	{% elseif column.type in ['datetime', 'datetimez'] %}
		{{ value|date("M jS Y \\a\\t g:ia") }}
	{% elseif column.type in ['date'] %}
		{{ value|date("M jS Y") }}
	{% elseif column.type in ['decimal', 'float', 'integer', 'smallint', 'bigint'] %}
		{{ value|number_format }}
	{% elseif column.type in ['time'] %}
		{{ value|date("g:ia") }}
	{% else %}
		{% if value|length > 32 %}
			{{ value[:32] }}...
		{% else %}
			{{ value }}
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro bytes_to_string(bytes) %}
	{% set sizes = ['bytes', 'kilobytes', 'megabytes', 'gigabytes', 'terrabytes', 'petabytes'] %}
	{% set factor = ((bytes|length - 1) / 3)|round(0, 'floor') %}
	{{ (bytes / (1024 ** factor))|round }} {{ sizes[factor] }}
{% endmacro %}