{% for column in table.columns if not column.isAutoIncrement %}
	<div>
		<label><span>{{ column }}:</span>
			{{ model.column_input(column, row[column.name]) }}
		</label>
	</div>
{% endfor %}

{% for link in links %}
	<div class="column_edit">
		<label><span>Linked {{ link.info.remoteTable }} List: (<a href="../../../../{{ link.info.remoteTable.name }}/create/">Create {{ link.info.remoteTable }}</a>)</span>
			<select style="height:150px" multiple="multiple" name="link[{{ link.info.table.name }}][]">
				{{ model.linked_options(link) }}
			</select>
		</label>
	</div>
{% endfor %}