{% for column in table.columns if not column.isAutoIncrement %}
	<div>
		<label class="column_{{ column.type }}">
			<span><b>{{ column }}</b>{% if column.length %} <small>max. {{ model.bytes_to_string(column.length) }}</small>{% endif %}</span>
			{% if column.comment %}<span class="info">{{ column.comment }}</span>{% endif %}
			{{ model.column_input(column, row[column.name]) }}
		</label>
	</div>
{% endfor %}

{% for link in links %}
	<div class="column_edit">
		<label><span>Linked {{ link.info.remoteTable }} List: (<a href="../../../../{{ link.info.remoteTable.name }}/create/">Create {{ link.info.remoteTable }}</a>)</span>
			<select style="height:150px" multiple="multiple" name="link[{{ link.info.table.name }}][]">
				{{ model.linked_options(link) }}
			</select>
		</label>
	</div>
{% endfor %}